.cabecalho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgb(1,0,22);
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.508) 76%, rgba(0, 0, 40, 0) 100%);
}

.cabecalho img{
    max-width: 140px;
    padding: 30px 30px;
    user-select: none;
}

.cabecalho nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
    height: 100%;
    text-align: center;
}

.cabecalho a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 9.2% 2%;
    transition: all .3s;
}
.cabecalho a:hover{
    border-radius:10px;
    color: rgb(34, 34, 184);
    transform: scale(1.02);
}



@media (max-width: 639px) {
    .cabecalho{
        justify-content: center;
    }
    .cabecalho img{
        margin: 0 auto;
    }
    .cabecalho nav{
        flex-wrap: wrap;
    }
    .cabecalho a{
        font-size: 1.3rem;
        padding: 10% 0;
    }
}
