@import url(./cabecalho.css);
@import url(./rodape.css);
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech', sans-serif;
}

body{
    background: rgb(1,0,22);
    background: -moz-linear-gradient(180deg, rgba(1,0,22,1) 0%, rgba(0,0,40,1) 48%, rgba(29,53,122,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(1,0,22,1) 0%, rgba(0,0,40,1) 48%, rgba(29,53,122,1) 100%);
    background: linear-gradient(180deg, rgba(1,0,22,1) 0%, rgba(0,0,40,1) 48%, rgba(29,53,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010016",endColorstr="#1d357a",GradientType=1);
}

.cabecalho .txt-principal{
    text-decoration: underline;
}




/* .conteudo{ /*CAMPO QUE CONTÉM A DESCRIÇÃO DA PAGINA E SEUS CARDS*/  



.descricao-page{
    align-items: center;
}

.descricao-page h2{
    color: rgb(255, 255, 255);
    text-shadow: 8px 5px 5px rgb(88, 88, 223);
    font-size: 4rem;
    text-align: center;
    margin: 10px 0;

}

.descricao-page p{
    color: #ffffff;
    margin: 5% auto 0% auto;
    font-size: 2rem;
    width: 70%;
    text-align: center;
   
}

.conteudo hr{
    width: 76%;
    margin: 5% auto;
    border-color: transparent;
    box-shadow: 8px 5px 5px rgb(88, 88, 223);
   
}

.conteudo .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}


.conteudo .card{ /*CAMPO DO CARD*/
    background-color: #090b20;
    width: 400px;
    border: 8px solid #00000018;
    margin: 50px 25px 0 25px;
    border-radius: 20px;
    padding: 25px;

}

.card h2{ /*TÍTULO DO CARD*/
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 10px 0;
}

.conteudo img{ /*IMAGEM DO CARD*/
    width: 100%;
    padding: 5px;
    border-radius: 25px;
    background-color: #76767612;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.505);
}

.conteudo figcaption{ /*DESCRIÇÃO DO CARD*/
    margin-top: 20px;
    color: white;
    font-size: 1.2rem;
    text-align: justify;
}






